@import "../../../../theme/mixings.scss";

.sideNavbar {
    z-index: 9999;
    top: 0;
    height: 100vh;
    width: 100%;
    border-right: 1px solid #ffffff14;
    // background-color: rgb(29, 35, 67);

    @include for-size(phone-only) {
        display: none !important;
    }

    @include for-size(tablet-portrait-up) {
        display: none !important;
    }

    .container {
        padding: 24px;

        .title {
            margin: 0px 0px 1rem 1.2rem;
            font-size: 14px;
            font-weight: 600;
            line-height: 24px;
            color: var(--white);
        }

        .item {
            display: block;
            padding: 9px 16px;
            margin-bottom: 8px;
            color: var(--offWhite);
            font-size: 14px;
            font-weight: 400;
            text-decoration: none;
            border-radius: 8px;
            transition: color 350ms ease 0s;
            border: 1px solid transparent;
            cursor: pointer;
        }

        .activeItem {
            min-width: 165px;
            color: var(--white);
            background: rgba(255, 255, 255, 0.11);
            border-color: rgba(255, 255, 255, 0.18);
            font-weight: 600;
        }
    }
}