@import '../../../../theme/mixings.scss';

.barContainer {
    background-color: #0d0628 !important;
    box-shadow: none !important;
    height: 70px;
    box-shadow: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 2;
    .logo{
        height: 30px;
    }

    .connectWallet {
        border-radius: 6px;
        box-shadow: none;
        text-transform: none;
        background: rgb(255, 255, 255);
        font-family: Inter, sans-serif;
        font-size: 12px;
        font-weight: 600;
        display: flex;
        align-items: center;
        padding: 8px 12px;
        height: 32px;
        color: var(--offBlack) !important;
        margin-left: 12px;

        @include for-size(phone-only) {
            margin-top: 0 !important;
        }

        @include for-size(tablet-portrait-up) {
            margin-top: 0 !important;
        }
    }

    .navItem {
        font-family: myFirstFont;
        transition: color 350ms ease 0s;
        letter-spacing: 1.2px;
        font-size: 14px;
        font-weight: 700;
        line-height: 34px;
        color: var(--offWhite);
        cursor: pointer;

        &:hover {
            color: var(--white);
        }
    }
}

.mobileNavbar {
    z-index: 9999;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: rgb(29, 35, 67);

    .container {
        padding: 24px;

        .title {
            margin: 0px 0px 1rem 1.2rem;
            font-size: 1rem;
            font-weight: 600;
            line-height: 24px;
            color: var(--white);
        }

        .item {
            display: block;
            padding: 9px 16px;
            margin-bottom: 8px;
            color: var(--offWhite);
            font-size: 16px;
            font-weight: 400;
            text-decoration: none;
            border-radius: 8px;
            transition: color 350ms ease 0s;
            border: 1px solid transparent;
        }

        .selectedItem {
            color: var(--white);
        }
    }
}