@import "./theme/mixings.scss";

@font-face {
  font-family: myFirstFont;
  src: url("./assets/grifterFont/grifterbold.otf");
  /* IE9 Compat Modes */
}

:root {
  --white: rgba(255, 255, 255, 0.88);
  --offWhite: rgba(255, 255, 255, 0.52);
  --btnBackground: rgba(153, 152, 152, 0.52);
  --offBlack: rgba(33, 33, 33, 0.72) !important;
  --successColor: rgb(34, 237, 166);
  --borderColor: rgba(104, 102, 102, 0.18);
}

* {
  // font-family: myFirstFont;
  // letter-spacing: 1.2px;

}

body {
  margin: 0px;
  color: white !important;
  min-height: 100vh !important;
  // background: rgb(29, 35, 67) !important;
  width: 100%;
  background-color: #0d0628 !important;
  overflow-x: hidden !important;
  // background: url(./assets/images/bg.jpg) center center / cover no-repeat rgb(21, 25, 36) !important;
}

.grid-container {
  max-width: 100%;
  display: grid;
  grid-row-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 0fr));
  grid-column-gap: 60px;
}

.main-container {
  width: 90%;
  margin: auto;

  @include for-size(phone-only) {
    width: 100% !important
  }

  @include for-size(tablet-portrait-up) {
    width: 98% !important
  }
}

.cursor-pointer {
  cursor: pointer;
}

.rightPortion {
  margin-left: 1rem !important;

  @include for-size(phone-only) {
    margin-left: 0 !important;
  }

  @include for-size(tablet-portrait-up) {
    margin-left: 0 !important;
  }
}

.flex-1 {
  flex: 1;
}

.rightGradient {
  position: fixed;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  width: 200em;
  height: 200em;
  margin-right: -135.7em;
  margin-bottom: -133.1em;
  background-image: radial-gradient(circle farthest-corner at 50% 50%, #5c31ff, rgba(92, 49, 255, 0) 69%);
  opacity: 0.9;
}

.bottomGradient {
  position: fixed;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 2;
  width: 160em;
  height: 160em;
  margin-right: -40.6em;
  margin-bottom: -133.7em;
  background-image: radial-gradient(circle farthest-corner at 50% 50%, #f88cd4, rgba(248, 140, 212, 0) 69%);
  opacity: 0.73;
}