@import "./theme/mixings.scss";

:root {
  --white: rgba(255, 255, 255, 0.88);
  --offWhite: rgba(255, 255, 255, 0.52);
  --offBlack: rgba(33, 33, 33, 0.72) !important;
  --successColor: rgb(34, 237, 166);
  --borderColor: rgba(255, 255, 255, 0.18);
}

body {
  margin: 0px;
  color: white !important;
  min-height: 100vh !important;
  background: rgb(29, 35, 67) !important;
  width: 100%;
  overflow-x: hidden !important;
  background: url(./assets/images/bg.jpg) center center / cover no-repeat
    rgb(21, 25, 36) !important;
}

.grid-container {
  max-width: 100%;
  display: grid;
  grid-row-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 0fr));
  grid-column-gap: 60px;
}

.cursor-pointer {
  cursor: pointer;
}

.rightPortion {
  margin-left: 1rem !important;
  @include for-size(phone-only) {
    margin-left: 0 !important;
  }
  @include for-size(tablet-portrait-up) {
    margin-left: 0 !important;
  }
}
.flex-1 {
  flex: 1;
}
